@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
    font-family: 'Open Sans', serif;
    font-weight: 100;
}

body {}

.table-wrapper {
    display: flex;
    border-radius: 5px;
    justify-content: center;
    flex-direction: column;
}

table {
    margin-top: 30px;
}

table,
th,
td {
    border-radius: 3px;
    text-align: center;
}

th {
    background-color: #0174ff;
    color: white;
    cursor: default;
}

th,
td {
    width: 150px;
}

.delete-btn {
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #0174ff;
    color: white;
}

.delete-btn:hover {
    background-color: #014291;
}

[contenteditable] {
    outline: 0;
}

.check-box {
    height: 20px;
    width: 20px;
}

.dropdown {
    border-radius: 3px;
    position: absolute;
    width: 150px;
    display: none;
    background-color: #014ca8;
}

.checkbox-header:hover .dropdown {
    display: block;
}

.dropdown-item {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 30px;
    border-radius: 3px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #0174ff;
}