<div class="table-wrapper">
    <todo-form></todo-form>
    <table>
        <tr>
            <th>{{checkboxHeader}}</th>
            <th>{{idHeader}}</th>
            <th>{{descriptionHeader}}</th>
            <th>{{actionsHeader}}</th>
        </tr>

        <tr v-for="(todo,index) in todoArray">
            <td><input class="check-box" type="checkbox" v-bind:checked="todo.isDone" @click="checkHandler(index)" /></td>
            <td>{{todo.id}}</td>
            <td contenteditable="true" spellcheck="false" @keypress="labelHandler(index,$event)" @blur="blurHandler(index, $event)">{{todo.description}}</td>
            <td><button class="delete-btn" :id="index" @click="deleteHandler(index)">Delete</button></td>
        </tr>
    </table>
</div>